* {
    border: 0;
    margin: 0;
}
/*Bai4*/
nav ul{
    display: flex;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
  
.menu li {
    display: inline-block;
}

.menu li :hover{
    background-color: white;
}
.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
  
.dropdown:hover .dropdown-menu {
    display: block;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}
  
.dropdown-menu li {
    display: block;
}