.column {
    float: left;
    width: 50%;
    padding: 10px;
    margin-right: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}
.column:last-child {
    margin-right: 0;
}
img {
    width: 900%;
}
.row {
    display: flex;
}
#background1 {
    background-image: url("https://images.wallpaperscraft.com/image/single/cat_roof_city_130750_2560x1024.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 300px;
}

#background2 {
    background-image: url("https://images.wallpaperscraft.com/image/single/cat_art_window_140051_2560x1024.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 300px;
}
.box {
    background-color: white;
    padding: 10px;
    margin-top: 125px;
    border: 2px solid grey;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.box-content {
    color: black;
    font-size: 16px;
    font-family: Cambria;
}
.more-text1 {
    display: none;
}
.show-more1 {
    color: orange;
    cursor: pointer;
    text-decoration: none;
}
.more-text2 {
    display: none;
}
.show-more2 {
    color: orange;
    cursor: pointer;
    text-decoration: none;
}